
body{
    background:linear-gradient(orange,rgb(195, 198, 24),rgb(210, 119, 8));
    height: auto;
    width: auto;
}
.imd{
    color: black;
    text-align: center;

}
.container div{
    width: 200px;
    margin: 10px;
    flex-basis: 20%;
    flex-wrap: wrap;
    
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

